<div class="cab">
    <!-- abro subcapa redes-->
    <div class="redes">
      <a href="{{fbURL}}" target="_blank" rel="noopener"><img src="{{fbSRC}}" alt="Mi FaceBook" /></a>
      <a href="{{pinURL}}" target="_blank" rel="noopener"><img src="{{pinSRC}}" alt="Mi Pinterest" /></a>
      <a href="{{linURL}}" target="_blank" rel="noopener"><img src="{{linSRC}}" alt="Mi LinkedIn" /></a>
      <a href="{{tgmURL}}" target="_blank" rel="noopener"><img src="{{tgmSRC}}" alt="Mi Telegram" /></a>
    </div>
    <!--cierro subcapa redes-->
   
    <!--abro subcapa editar-->
    <div class="editar">
      <img src="{{logSRC}}" alt="login" />
    </div>
    <!-- cierro subcapa editar-->
</div>
