<div class="cab">

  <!-- abro subcapa editar -->
  <div class="editar">
    <img src="{{logSRC}}" alt="{{logALT}}" (click)="abrirLogin()" height="" />
  </div>
  <!-- cierro editar -->

  <!-- abro subcapa redes -->
  <div class="redes">
    <a href="{{fbURL}}" target="_blank" rel="noopener"><img src="{{fbSRC}}" alt="{{fbALT}}" /></a>
    <a href="{{pinURL}}" target="_blank" rel="noopener"><img src="{{pinSRC}}" alt="{{pinALT}}" /></a>
    <a href="{{linURL}}" target="_blank" rel="noopener"><img src="{{linSRC}}" alt="{{linALT}}" /></a>
    <a href="{{tgmURL}}" target="_blank" rel="noopener"><img src="{{tgmSRC}}" alt="{{tgmALT}}" /></a>
  </div>
  <!-- cierro redes -->

  <!-- componente para login -->
  <app-login id="verLogin" *ngIf="mostrarLogin"></app-login>
  
</div>