<div class="popup">
  <div class="popup_body">
    <button type="button" class="cerrarLogin" (click)="cerrar()">x</button>
    <div class="titulo"><span>Login</span></div>

    <form action="#">
      <div class="row">
        <input type="text" placeholder="Usuario" required>
      </div>
      <div class="row">
        <input type="pass" placeholder="Password" required>
      </div>
      <div class="row button">
        <input type="submit" value="Entrar">
      </div>
    </form>

  </div>
</div>