<div class="modal-py" *ngIf="abrirMostrarPy">
    <div class="popup">
  
      <div class="popup_top">
        <div class="titulo">
          <span>MIS PROYECTOS</span>
        </div>
        <div class="botones">
          <!--boton para mostrar el formulario de carda-->
          <img src="../../../../assets/mas.png" alt="agregar" class="boton" (click)="mostrarFila()" />
          <!--boton para cerrar este componente modal-->
          <img src="../../../../assets/cerrar.png" alt="cerrar" class="boton" (click)="cerrarMostrarPy()" />
        </div>
      </div>
      <div class="popup_body">
        <div id="miTabla" class="table table-responsive-sm">
          <table>
              <tr *ngFor="let proy of proy">
                <td width="550" *ngIf="!filaEditable">
                  <p>idPersona: {{proy.idPersona}}
                    - idProyecto: {{proy.idPy}}
                    - Proyecto: {{proy.nombrePy}}
                    - Periodo: {{proy.periodoPy}}
                  </p>
                  <p>Descripcion:<br>{{proy.descPy}}</p>
                </td>
                <td width="550" *ngIf="filaEditable && proy.idPy === pyEditado.idPy">
                  <p>idPersona: {{proy.idPersona}}
                    - idProyecto: {{proy.idPy}}
                    - Proyecto: <input type="text" size="27" [(ngModel)]="pyEditado.nombrePy" />
                    - Periodo: <input type="text" size="8" [(ngModel)]="pyEditado.periodoPy" />
                  </p>
                  <p>Descripcion:<br><textarea cols="100" rows="3" [(ngModel)]="pyEditado.descPy"></textarea></p>
                </td>  
                <td *ngIf="!filaEditable">
                    <!--boton para habilitar la edicion de un registro particular-->
                    <img src="../../../../assets/editar.png" alt="editar" class="boton" (click)="editarFila(proy)" />
                    <!--boton para eliminar un registro particular-->
                    <img src="../../../../assets/borrar.png" alt="borrar" class="boton" (click)="borrarPy(proy.idPy)"/></td>                
                <td *ngIf="filaEditable && proy.idPy === pyEditado.idPy">
                    <!--boton para guardar los cambios-->
                    <img src="../../../../assets/save.png" alt="actualizar" class="boton" (click)="actualizarFila()">
                    <!--boton para cancelar cambios-->
                    <img src="../../../../assets/cerrar.png" alt="cancelar" class="boton" (click)="noEditar()"></td>
              </tr>
          </table>
          <br>
        </div>
        <br>
        <!-- form oculto para agregar registros -->
        <div id="miCarga" *ngIf="filaVisible">
          <br>
          <table>
              <tr>
              <td width="550">
                <p>idPersona: <input type="text" size="1" [(ngModel)]="pyCreado.idPersona" readonly/>
                  - idProyecto: <input type="text" size="1" [(ngModel)]="pyCreado.idPy" readonly/>
                  - Proyecto: <input type="text" size="27" [(ngModel)]="pyCreado.nombrePy" required/>
                  - Periodo: <input type="text" size="8" [(ngModel)]="pyCreado.periodoPy" />
                </p>
                <p>Descripcion:<br><textarea cols="100" rows="3" [(ngModel)]="pyCreado.descPy"></textarea></p>
              </td>
              <td>
                  <!--boton para guardar el nuevo registro-->
                  <img src="../../../../assets/save.png" alt="guardar" class="boton" (click)="guardarPy(pyCreado)" />
                  <!--boton para cancelar la creacion de un nuevo registro-->
                  <img src="../../../../assets/cerrar.png" alt="cancelar" class="boton" (click)="cancelarAgregar()" />
              </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
