.proyectos {
  margin: 0 5%;
}
  
.py_nombre {
  font-size: 20pt;
  font-weight: 600;
  color: rgb(196, 243, 141);
  text-shadow: 2px 2px 5px black;
}
  
.py_txt {
  margin-right: 20px;
  text-align: justify;
}
  
#verAlbum {
  height: 40px;
  float:right;
  margin-right: 2%;
  filter:grayscale(150%) brightness(2.5) opacity(85%);
}
  
#verAlbum:hover {
  cursor: pointer;
  filter:opacity(100%);
}

