<div class="resumen">
    <h1 class="nombre">SILVANA PAULA BORSANI</h1>
    <h4>Lic. en Criminal&iacute;stica - Full Stack Web Developer Jr.</h4>
    <hr>
    <p>Nac&iacute; en CABA un 23 de septiembre, con el Sol &#127774; en libra &#9806;, por eso soy muy curiosa y me gusta aprender de todo, por ejemplo: 
       astrolog&iacute;a. Soy fan&aacute;tica de Boca &#128153;&#128155;&#128153;, de esas que van a la cancha. 
       Me gusta mucho leer, aunque trato de esquivar los libros digitales, prefiero palpar el libro real &#128217;. 
       Voy al gim todos los d&iacute;as para hacer spinning &#128692;, a veces tambi&eacute;n tomo clases de zumba y otras de bachata &#128131;.
       Mis hobbies son las manualidades en porcelana fr&iacute;a y el origami. Aprend&iacute; a programar &#128421; metiendo los dedos, despu&eacute;s 
       hice algunos cursos a trav&eacute;s de la oficina. 
       Actualmente, vivo &#127968; en Moreno (GBA Oeste) con mi hijo &#129332;, que se llama Tobias, y mi hija de cuatro patas &#128021; que se llama Kiwa.
    </p>
</div>
