<div class="modal-edu" *ngIf="abrirMostrarEdu">
    <div class="popup">
  
      <div class="popup_top">
        <div class="titulo">
          <span>MI EDUCACION FORMAL</span>
        </div>
        <div class="botones">
          <!--boton para mostrar el formulario de carda-->
          <img src="../../../../assets/mas.png" alt="agregar" class="boton" (click)="mostrarFila()" />
          <!--boton para cerrar este componente modal-->
          <img src="../../../../assets/cerrar.png" alt="cerrar" class="boton" (click)="cerrarMostrarEdu()" />
        </div>
      </div>
      <div class="popup_body">
        <div id="miTabla" class="table table-responsive-sm">
          <table>
            <thead>
              <tr>
                <th width="15">idPer</th>
                <th width="15">idEdu</th>
                <th width="50">Periodo</th>
                <th width="100">Instituto</th>
                <th width="300">Web (URL)</th>
                <th width="300">Logo (URL)</th>
                <th width="100">Titulo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let edu of estudio">
                <td width="15">{{edu.idPersona}}</td>
                <td width="15">{{edu.idEstudio}}</td>
                <td width="100" *ngIf="!filaEditable">{{edu.periodoEstudio}}</td>
                <td width="100" *ngIf="filaEditable && edu.idEstudio === eduEditado.idEstudio">
                    <input type="text" size="15" [(ngModel)]="eduEditado.periodoEstudio" /></td>
                <td width="100" *ngIf="!filaEditable">{{edu.nombreInstituto}}</td>
                <td width="100" *ngIf="filaEditable && edu.idEstudio === eduEditado.idEstudio">
                    <input type="text" size="20" [(ngModel)]="eduEditado.nombreInstituto" /></td>
                <td width="300" *ngIf="!filaEditable">{{edu.urlInstituto}}</td>
                <td width="300" *ngIf="filaEditable && edu.idEstudio === eduEditado.idEstudio">
                    <input type="text" size="45" [(ngModel)]="eduEditado.urlInstituto" /></td>
                <td width="300" *ngIf="!filaEditable">{{edu.url_imgInst}}</td>
                <td width="300" *ngIf="filaEditable && edu.idEstudio === eduEditado.idEstudio">
                    <input type="text" size="43" [(ngModel)]="eduEditado.url_imgInst"></td>
                <td width="100" *ngIf="!filaEditable">{{edu.tituloEstudio}}</td>
                <td width="100" *ngIf="filaEditable && edu.idEstudio === eduEditado.idEstudio">
                    <input type="text" size="20" [(ngModel)]="eduEditado.tituloEstudio"></td>
                <td *ngIf="!filaEditable"><!--boton para habilitar la edicion de un registro particular-->
                    <img src="../../../../assets/editar.png" alt="editar" class="boton" (click)="editarFila(edu)" />
                    <!--boton para eliminar un registro particular-->
                    <img src="../../../../assets/borrar.png" alt="borrar" class="boton" (click)="borrarEdu(edu.idEstudio)"/></td>                
                <td *ngIf="filaEditable && edu.idEstudio === eduEditado.idEstudio"><!--boton para guardar los cambios-->
                    <img src="../../../../assets/save.png" alt="actualizar" class="boton" (click)="actualizarFila()">
                    <!--boton para cancelar cambios-->
                    <img src="../../../../assets/cerrar.png" alt="cancelar" class="boton" (click)="noEditar()"></td>
              </tr>
            </tbody>
          </table>
          <br>
        </div>
        <br>
        <!-- form oculto para agregar registros -->
        <div id="miCarga" class="table table-responsive-sm" *ngIf="filaVisible">
          <br>
          <table>
            <thead>
              <tr>
                <th width="15">idPer</th>
                <th width="15">idEdu</th>
                <th width="50">Periodo</th>
                <th width="100">Instituto</th>
                <th width="300">Web (URL)</th>
                <th width="300">Logo (URL)</th>
                <th width="100">Titulo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="8">
                    <input type="text" size="2" name="idPersona" value="1" [(ngModel)]="eduCreado.idPersona" required />
                    <input type="text" size="2" name="idEstudio" placeholder="idEstudio" />
                    <input type="text" size="20" name="periodoEstudio" [(ngModel)]="eduCreado.periodoEstudio" required />
                    <input type="text" size="20" name="nombreInstituto" placeholder="Instituto" [(ngModel)]="eduCreado.nombreInstituto" required />
                    <input type="text" size="40" name="urlInstituto" placeholder="urlInstituto" [(ngModel)]="eduCreado.urlInstituto" required />
                    <input type="text" size="40" name="url_imgInst" placeholder="url_imgInst" [(ngModel)]="eduCreado.url_imgInst" required />
                    <input type="text" size="20" name="tituloEstudio" placeholder="titulo" [(ngModel)]="eduCreado.tituloEstudio" required />
                    <!--boton para guardar el nuevo registro-->
                    <img src="../../../../assets/save.png" alt="guardar" class="boton" (click)="guardarEdu(eduCreado)" />
                    <!--boton para cancelar la creacion de un nuevo registro-->
                    <img src="../../../../assets/cerrar.png" alt="cancelar" class="boton" (click)="cancelarAgregar()" />
                  <!-- </form> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
