<div class="estudios">

<!-- abro estudios formales -->
<div id="formales">
  <div class="titulos">
    <h4>FORMALES</h4>
    <div class="editar">
      <img src="{{editSRC}}" alt="{{editALT}}" (click)="abrirMostrarEdu()" *ngIf="isLogged" />
    </div>

  </div>
  <ng-component *ngFor="let edu of edu">
    <p>
        <a href="{{edu.urlInstituto}}" target="_blank" rel="noopener">
            <img src="{{edu.url_imgInst}}" width="200px" alt="{{edu.nombreInstituto}}" />
        </a>
    </p>
        <ul>
          <li>({{edu.periodoEstudio}}) - {{edu.tituloEstudio}}</li>
        </ul>
    <br>
  </ng-component>
  
     <!-- componente para editar educacion formal -->
     <app-editar-edu id="verEstudios"></app-editar-edu>
</div>
<!-- cierro estudios formales -->

<!-- abro estudios no formales -->
<div id="noformales">
  <div class="titulos">
    <h4>CAPACITACIONES TICS</h4>
    <div class="editar">
      <img src="{{editSRC}}" alt="{{editALT}}" (click)="abrirMostrarTics()" *ngIf="isLogged" />
    </div>

    <!-- componente para editar educacion tics -->
    <app-editar-tics id="verTICS"></app-editar-tics>
  </div>
  <ng-component *ngFor="let grupo of agrupados">
   <p>
      <a href="{{grupo.url}}" target="_blank" rel="noopener">
        <img src="{{grupo.img}}" width="180px" alt="{{grupo.inst}}" />
      </a>
   </p>
      <ul>
        <li *ngFor="let tic of grupo.tics">({{tic.periodoTic}}) - {{tic.cursoTic}}</li>
      </ul>
    <br>
  </ng-component>
</div>
<!-- cierro estudios no formales -->        
</div>
