.estudios {
  display: flex;
  margin: 0 5%;
  gap: 15px;
}

h4 {
  color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: 900;
  font-size:35px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  text-shadow: 
             3px 3px #b665f8,
             7px 7px 2px black;
}

ul{
  padding-left: 50px;
  text-indent: -15px;
}
  
img{
  filter: drop-shadow(1px 1px 2px green);
}
  
img:hover{
  transform: scale(110%);
}
  
#formales{
  width: 45%; 
}
  
#noformales{
  width: auto; 
}

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* capa solo visible si esta conectado el admin */
.editar {
  position: relative;
  width: 50px;
}

.editar img {
  float: right;
  filter:grayscale(150%) brightness(2.5) opacity(85%);
  width: 50px;
}

.editar img:hover {
  filter:opacity(100%);
  cursor: pointer;
}