.pie {
  display:flex;
  position: relative;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  height: auto;
  z-index: 4;
  background:#03f803;
  border: 1px solid white;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 7px 7px 15px 0px black;  
  font-size: medium;
  column-count: 3;
  column-gap: 20%;
  text-align: center;
}
    
a {
  text-decoration: none;
  color:rgb(251, 251, 252);
  font-weight: 600;
  text-shadow:2px 2px 4px black;
}
    
a:hover {
  color:blue;
  text-shadow:2px 2px 4px white;
}
    
#ico {
  vertical-align:sub;
  filter: drop-shadow(1px 1px 2px black);
}

/* capa solo visible si esta conectado el admin */
.editar {
  position:absolute;
  right: 13%;
  margin-top: -70px;
  z-index: 6;
}

.editar img {
  float:right;
  filter:opacity(100%);
  border-radius: 0;
  width: 50px;
}

.editar img:hover {
  filter:grayscale(150%) brightness(2.5) opacity(85%);
  cursor: pointer;
}