<div class="ajustes" ng-hide="ocultar">
    <h4>Capturas del Sistema de Ajustes Contables</h4> <button ng-click="ocultar = true"> Cerrar </button>
    <br><br>
    <div class="capturas">
        <div><img src="../../../assets/py-ajustes-0.jpg" alt="foto 1" class="pic" /></div>
        <!-- <div><img src="../../../assets/py-ajustes-1.jpg" alt="foto 2" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-2.jpg" alt="foto 3" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-3.jpg" alt="foto 4" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-4.jpg" alt="foto 5" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-5.jpg" alt="foto 6" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-6.jpg" alt="foto 7" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-7.jpg" alt="foto 8" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-8.jpg" alt="foto 9" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-9.jpg" alt="foto 10" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-10.jpg" alt="foto 11" class="pic" /></div>
        <div><img src="../../../assets/py-ajustes-11.jpg" alt="foto 12" class="pic" /></div> -->
    </div>
</div>
