.cab{
  display:flex;
  position: absolute;
  z-index: 9;
  padding: 5px 15px 5px 15px;
  width: 100%;
  height: 60px;
  background:#03f803;
  border: 1px solid white;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 7px 7px 15px 0px black;
}

img{
  filter:grayscale(150%) brightness(2.5) opacity(85%);
  height: 100%;
}

img:hover{
  filter:opacity(100%);
}
   
/* login */
.entrar{
  position: relative;
  width: 80px;
}
   
.entrar img:hover{
  cursor: url("../../../../assets/llave.png"), pointer;
}
   
/* redes */
.redes{
  position: relative;
  max-width: 500px;
  align-items: center;
  padding: 0 5px;
}

.redes img {
  width: 50px;
}
   
/* capa solo visible si esta conectado el admin */
.editar {
  position: relative;
  float:right;
  width: 80px;
}

.editar img:hover {
  filter:grayscale(150%) brightness(2.5) opacity(85%);
  height: 100%;
}
  
.editar img {
  filter:opacity(100%);
}

