<div class="modal-redes" *ngIf="abrirMostrarRedes">
<div class="popup">
  
    <div class="popup_top">
      <div class="titulo">
        <span>MIS REDES</span>
      </div>
      <div class="botones">
        <img src="../../../../assets/mas.png" alt="agregar" class="boton" />
        <img src="../../../../assets/cerrar.png" alt="cerrar" class="boton" (click)="cerrarMostrarRedes()" />
      </div>
    </div>
    <div class="popup_body">
      <table class="miTabla">
        <thead>
          <tr>
            <th scope="col">idRed</th>
            <th scope="col">idPersona</th>
            <th scope="col">nombreRed</th>
            <th scope="col">urlRed</th>
            <th scope="col">url_imgRed</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>numero</td>
            <td>numero</td>
            <td>texto</td>
            <td>direccion web</td>
            <td>direccion web img</td>
            <td><img src="../../../../assets/save.png" alt="save1" class="boton" /></td>
            <td><img src="../../../../assets/borrar.png" alt="borrar1" class="boton" /></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>