.foto{
  display:inline-flex;
  float: right;
  position:absolute;
  right: 3%;
  margin-top: 40px;
  z-index: 5;
  background-color:transparent;
  border-radius: 150px;
  box-shadow: 7px 7px 15px 0px black;
}
  
.foto img{
  border-radius: 150px;
  filter:grayscale(100%);
}
  
.foto img:hover{
  filter:grayscale(0%);
  cursor: url("../../../../assets/varita.png"), none;
}

/* capa solo visible si esta conectado el admin */
.editar {
  position:absolute;
  right: 4%;
  margin-top: 400px;
  z-index: 6;
}

.editar img {
  float:right;
  filter:grayscale(150%) brightness(2.5) opacity(85%);
  border-radius: 0;
  width: 50px;
}

.editar img:hover {
  filter:opacity(100%);
  cursor: pointer;
}