<!-- abro capa para los detalles, LABORAL ESTUDIOS SKILL PROY-->
<div class="detalles">

    <!-- abro laboral -->
    <div class="scallop-up"></div>
    <div class="colour-block">
      <h2>EXPERIENCIA LABORAL</h2>
      <app-laboral></app-laboral>
    </div>
    <div class="scallop-down"></div>
    <div class="white-block"></div>      
    <!-- cierro laboral -->

    <!-- abro estudios -->
    <div class="scallop-up"></div>
    <div class="colour-block">
      <h2>ESTUDIOS</h2>
      <app-estudios></app-estudios>
    </div>
    <div class="scallop-down"></div>
    <div class="white-block"></div>      
    <!-- cierro estudios -->         

    <!-- abro skills -->
    <div class="scallop-up"></div>
    <div class="colour-block">
    <h2>HABILIDADES</h2>            
      <app-habilidades></app-habilidades>
    </div>
    <div class="scallop-down"></div>
    <div class="white-block"></div>      
    <!-- cierro habilidades -->

    <!-- abro proyectos -->
    <div class="scallop-up"></div>
    <div class="colour-block">
    <h2>PROYECTOS</h2>
      <app-proyectos></app-proyectos>
    </div>
    <div class="scallop-down"></div>
    <div class="white-block"></div>      
    <!-- cierro proyectos-->
</div>
<!-- cierro capa detalles -->
