<!-- abro capa para los detalles, capa 5, LABORAL ESTUDIOS SKILL PROY-->
<div class="detalles">

    <!-- abro laboral -->
    <div class="scallop-up"></div>
    <div class="colour-block">
      <h2>EXPERIENCIA LABORAL</h2>
      <app-lab-editar></app-lab-editar>
    </div>
    <div class="scallop-down"></div>
    <div class="white-block"></div>      
    <!-- cierro laboral -->

    <!-- abro estudios -->
    <div class="scallop-up"></div>
    <div class="colour-block">
      <h2>ESTUDIOS</h2>
      <app-edu-editar></app-edu-editar>
    </div>
    <div class="scallop-down"></div>
    <div class="white-block"></div>      
    <!-- cierro estudios -->         

    <!-- abro skills -->
    <div class="scallop-up"></div>
    <div class="colour-block">
    <h2>HABILIDADES</h2>            
      <app-habil-editar></app-habil-editar>
    </div>
    <div class="scallop-down"></div>
    <div class="white-block"></div>      
    <!-- cierro habilidades -->

    <!-- abro proyectos -->
    <div class="scallop-up"></div>
    <div class="colour-block">
    <h2>PROYECTOS</h2>
      <app-py-editar></app-py-editar>
    </div>
    <div class="scallop-down"></div>
    <div class="white-block"></div>      
    <!-- cierro proyectos-->
</div>
<!-- cierro capa detalles -->
