<!-- abro capa para las habilidades-->
<div class="habilidades">

  <!-- abro duras -->
  <div class="titulos" id="hards">
      <h4>DURAS</h4>
      <div class="editar">
        <img src="{{editSRC}}" alt="{{editALT}}" (click)="abrirMostrarDuras()" *ngIf="isLogged" />
      </div>
      
      <!-- componente para editar hard skills -->
      <app-editar-duras id="verDuras"></app-editar-duras>
      
  </div>

  <div class="skills">
    <!--circulos de progreso-->
    <div class="progresos" *ngFor="let dura of dura">
      <div class="cantidad" [style.--clr]="dura.colorDura" [style.--num]="dura.num">
        <div class="bolita" [style.--giro]="dura.giro + 'deg'"></div>
          <svg>
            <circle cx="70" cy="70" r="70" fill="yellow"></circle>
            <circle cx="70" cy="70" r="70" fill="yellow"></circle>
          </svg>
        <div class="titulo">
          <h3>{{dura.porcentaje}}<span>%</span></h3>
          <p>{{dura.nombreDura}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- cierro duras -->

  <p></p>

  <!-- abro blandas -->
  <div class="titulos" id="softs">
    <h4>BLANDAS</h4>
    <div class="editar">
      <img src="{{editSRC}}" alt="{{editALT}}" (click)="abrirMostrarBlandas()" *ngIf="isLogged" />
    </div>
  </div>
    
    <!-- componente para editar soft skills -->
    <app-editar-blandas id="verBlandas"></app-editar-blandas>
    
  <div class="skills">
    <div class="blandas" *ngFor="let blanda of blanda">
    <div class="item" [style.background-color]="blanda.colorBlanda">
      <img src="{{blanda.url_imgBlanda}}" alt="{{blanda.nombreBlanda}}" />
      <br />{{blanda.nombreBlanda}}
    </div>
  </div>
    
  </div>
  <!-- cierro blandas -->

</div>
<!-- cierro habilidades -->
