.habilidades {
  display:inline-flexbox;
  justify-content: center;
  align-items: center;
}

.skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*gap: 5px;*/
}

h4 {
    /*text-align: center;*/
    color: rgb(255, 255, 255);
    padding: 15px;
    font-weight: 900;
    font-size:35px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    text-shadow: 
               3px 3px #b665f8,
               7px 7px 2px black;
}
  
/* circulos de progreso */
.progresos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: transparent;
}
  
.progresos .cantidad {
  position: relative;
  width: 150px;
  height: 150px;
}
  
.progresos .cantidad svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
  
.progresos .cantidad svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke:rgb(191, 238, 177);
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
  
.progresos .cantidad svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: var(--num);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 0.1s;
}
  
@keyframes fadeIn {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}
  
.bolita {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animarBolita 1s linear forwards;
}
  
@keyframes animarBolita {
  0% {
     transform: rotate(0deg);
  }
  100% {
     transform: rotate(var(--giro));
  }
}
  
.bolita::before {
  content: ' ';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--clr);
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}
  
.titulo {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:black;
  font-family: Tahoma, sans-serif;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 0.8s;
}
  
.titulo p {
  font-size: large;
  font-weight: 600;
  line-height: 1px;
  margin-left: -10px;
}
  
.blandas {
  position: relative;
  gap: 5px;
  padding: 3px;
  margin: 0 1px; /*5px auto;*/
}
  
.item {
  text-align: center;
  display:table-cell;
  width: 110px;
  height: 130px;
  padding: 10px;
  justify-items: center;
  align-items: center;
  border: 1px solid white;
  color: #fff;
  font-size: 15px;
}

.item:hover {
  filter:drop-shadow(5px 5px 7px black) brightness(120%);
  border:1px solid black;
  text-shadow: 2px 2px 3px black;
  cursor: url("../../../../assets/varita.png"), none;
}
  
.item img {
  height: 60px;
}

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* capa solo visible si esta conectado el admin */
.editar {
  width: 50px;
}

.editar img {
  float: right;
  filter:opacity(100%);
  width: 50px;
}

.editar img:hover {
  filter:grayscale(150%) brightness(2.5) opacity(85%);
  cursor: pointer;
}