<div class="modal-lab" *ngIf="abrirMostrarLab">
    <div class="popup">
  
      <div class="popup_top">
        <div class="titulo">
          <span>MI EXPERIENCIA LABORAL</span>
        </div>
        <div class="botones">
          <!--boton para mostrar el formulario de carda-->
          <img src="../../../../assets/mas.png" alt="agregar" class="boton" (click)="mostrarFila()" />
          <!--boton para cerrar este componente modal-->
          <img src="../../../../assets/cerrar.png" alt="cerrar" class="boton" (click)="cerrarMostrarLab()" />
        </div>
      </div>
      <div class="popup_body">
        <div id="miTabla" class="table table-responsive-sm">
          <table>
              <tr *ngFor="let lab of laboral">
                <td width="500" *ngIf="!filaEditable">
                  <p>idPersona: {{lab.idPersona}} 
                    - idLaboral: {{lab.idLaboral}} 
                    - Periodo: {{lab.periodoEmpresa}} 
                    - Empresa: {{lab.nombreEmpresa}}</p>
                  <p>WEB: {{lab.urlEmpresa}} 
                    - img: {{lab.url_imgLab}}</p>
                  <p>Tareas:<br>{{lab.descEmpresa}}</p>
                </td>
                <td *ngIf="filaEditable && lab.idLaboral === labEditado.idLaboral">
                  <p>idPersona: {{lab.idPersona}} 
                    - idLaboral: {{lab.idLaboral}} 
                    - Periodo:<input type="text" size="10" [(ngModel)]="labEditado.periodoEmpresa" />
                    - Empresa: <input type="text" size="35" [(ngModel)]="labEditado.nombreEmpresa" />
                  </p>
                  <p>WEB: <input type="text" size="40" [(ngModel)]="labEditado.urlEmpresa" /> 
                    - img: <input type="text" size="40" [(ngModel)]="labEditado.url_imgLab" />
                  </p>
                  <p>Tareas:<br><textarea cols="110" rows="3" [(ngModel)]="labEditado.descEmpresa"></textarea></p>
                </td>
                <td *ngIf="!filaEditable">
                    <!--boton para habilitar la edicion de un registro particular-->
                    <img src="../../../../assets/editar.png" alt="editar" class="boton" (click)="editarFila(lab)" />
                    <!--boton para eliminar un registro particular-->
                    <img src="../../../../assets/borrar.png" alt="borrar" class="boton" (click)="borrarLab(lab.idLaboral)"/>
                </td>                
                <td *ngIf="filaEditable && lab.idLaboral === labEditado.idLaboral">
                    <!--boton para guardar los cambios-->
                    <img src="../../../../assets/save.png" alt="actualizar" class="boton" (click)="actualizarFila()">
                    <!--boton para cancelar cambios-->
                    <img src="../../../../assets/cerrar.png" alt="cancelar" class="boton" (click)="noEditar()">
                </td>
              </tr>
          </table>
          <br>
        </div>
        <br>
        <!-- form oculto para agregar registros -->
        <div id="miCarga" *ngIf="filaVisible">
          <br>
          <table>
              <tr>
                <td width="500">
                  <p>idPersona: <input type="text" size="1" name="idPersona" value="1" [(ngModel)]="labCreado.idPersona" readonly />
                    - idLaboral: <input type="text" size="1" name="idLaboral" [(ngModel)]="labCreado.idLaboral" readonly />
                    - Periodo: <input type="text" size="10" name="periodoEmpresa" [(ngModel)]="labCreado.periodoEmpresa" required />
                    - Empresa: <input type="text" size="35" name="nombreEmpresa" [(ngModel)]="labCreado.nombreEmpresa" required />
                  </p>
                  <p>
                    WEB: <input type="text" size="40" name="urlEmpresa" [(ngModel)]="labCreado.urlEmpresa" required />
                    - img: <input type="text" size="40" name="url_imgLab" [(ngModel)]="labCreado.url_imgLab" required />
                  </p>
                  <p>
                    Tareas:<br><textarea cols="110" rows="4" name="descEmpresa" [(ngModel)]="labCreado.descEmpresa"></textarea>
                  </p>
                </td>
                <td>
                    <!--boton para guardar el nuevo registro-->
                    <img src="../../../../assets/save.png" alt="guardar" class="boton" (click)="guardarLab(labCreado)" />
                    <!--boton para cancelar la creacion de un nuevo registro-->
                    <img src="../../../../assets/cerrar.png" alt="cancelar" class="boton" (click)="cancelarAgregar()" />
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>