<div class="estudios">

<!-- abro estudios formales -->
<div id="formales">
   <h4>FORMALES</h4>
    <p>
        <a href="{{udaURL}}" target="_blank" rel="noopener">
            <img src="{{udaSRC}}" width="200px" alt="Uni Aconcagua" />
        </a>
    </p>
        <ul>
          <li>(2017) - Diplomatura en Perfiles Criminales</li>
        </ul>
    <br>
    <p>
        <a href="{{rvURL}}" target="_blank" rel="noopener">
          <img src="{{rvSRC}}" width="220px" alt="Reconstrucciones" />
        </a>
    </p>
        <ul>
          <li>(2017) - Especialista en Reconstruccion Virtual de Casos Criminales</li>
        </ul>
    <br>
    <p>
        <a href="{{uaiURL}}" target="_blank" rel="noopener">
          <img src="{{uaiSRC}}" width="130px" alt="UAI" />
        </a>
    </p> 
        <ul>
          <li>(2016) - Diplomatura en Delitos Inform&aacute;ticos y Evidencia Digital</li>
        </ul>
    <br>
    <p>
        <a href="{{icfURL}}" target="_blank" rel="noopener">
          <img src="{{icfSRC}}" width="200px" alt="Inst.Cs.Forenses" />
        </a>
    </p>
        <ul>
          <li>(2009) - Tecnicatura en Evisceraci&oacute;n y Toma de Muestas </li>
        </ul>
    <br>
    <p>
        <a href="{{iupfaURL}}" target="_blank" rel="noopener">
          <img src="{{iupfaSRC}}" width="240px" alt="IUPFA" />
        </a>
    </p>
        <ul>
          <li>(2004 - 2007) - Licenciatura en Criminal&iacute;stica</li>
        </ul>
</div>
<!-- cierro estudios formales -->

<!-- abro estudios no formales -->
<div id="noformales">
   <h4>CAPACITACIONES TICS</h4>
   <p>
      <a href="{{apURL}}" target="_blank" rel="noopener">
        <img src="{{apSRC}}" width="180px" alt="Arg.Prog." />
      </a>
   </p>
      <ul>
        <li>(2022/2023) Yo programo</li>
      </ul>
    <br>
    <p>
      <a href="{{inapURL}}" target="_blank" rel="noopener">
        <img src="{{inapSRC}}" width="200px" alt="INAP" />
      </a>
    </p>
      <ul>
        <li>(2022) S&eacute; programar</li>
        <li>(2019) Programaci&oacute;n C++</li>
      </ul>
    <br>
    <p>
      <a href="{{capacURL}}" target="_blank" rel="noopener">
        <img src="{{capacSRC}}" width="200px" alt="Hacienda" />
      </a>
    </p>
      <ul>
        <li>(2018) Business Intelligence (BI)</li>
        <li>(2010) Taller sobre Consultas y Reportes Business Object</li>
        <li>(2008) Aplicando mySQL con PHP</li>
        <li>(2003) Forms Vs 5 y Reports 3</li>
        <li>(2003) Introducci&oacute;n a Oracle y PL/SQL</li>
        <li>(1998) An&aacute;lisis y Construcci&oacute;n de Modelos Relacionales</li>
      </ul>
    <br>
</div>
<!-- cierro estudios no formales -->        
</div>
