<div class="logos">
    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1668983675/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" alt="logos organismoos" usemap="#image-map" />
      <map name="image-map">
        <area target="_blank" rel="noopener" alt="Argentina Programa" title="Argentina Programa" href="http://argentinaprograma.inti.gob.ar" coords="126,69,1,4" shape="rect">
        <area target="_blank" rel="noopener" alt="INTI" title="INTI" href="http://www.inti.gob.ar" coords="127,4,235,69" shape="rect">
        <area target="_blank" rel="noopener" alt="Min. de Economia" title="Min. de Economia" href="http://www.mecon.gob.ar" coords="235,4,359,69" shape="rect">
      </map>
</div>
