<!-- abro cuerpo para ordenar capas CAB LOGOS RESUMEN FOTO -->
<div class="superior">
    
    <!--abro cabecera = redes + login -->
    <app-cab-editar></app-cab-editar>
    <!-- cierro cabecera-->
        
    <!--abro logos -->
    <app-logos></app-logos>
    <!--cierro logos-->
  
    <!-- abro resumen -->
    <app-resu-editar></app-resu-editar>   
    <!-- cierro resumen -->
  
    <!-- abro capa foto (mas externa) -->
    <app-foto></app-foto>
    <!-- cierro capa foto -->
  </div>
  <!-- cierro cuerpo -->
