<div class="resumen">
    <div class="encabezado">
        <h1 class="nombre"> Silvana Borsani</h1>
       
        <div class="editar">
            <img src="{{editSRC}}" alt="{{editALT}}" />
        </div>
    </div>
    <h4>Full Stack Web Developer Jr.</h4>
    <h6 *ngIF="persona">{{persona.apellidoPersona}}</h6>
    <hr>
    <p>Nac&iacute; en CABA un <b>23 de septiembre</b>, con el Sol <ngx-emoji emoji="sunny" id="dibu"></ngx-emoji> en <b>libra</b> 
       <ngx-emoji emoji="libra" id="dibu"></ngx-emoji>, por eso soy muy curiosa y me gusta aprender de todo, por ejemplo: astrolog&iacute;a. 
       Soy fan&aacute;tica de <b>Boca</b> <ngx-emoji emoji="blue_heart" id="dibu"></ngx-emoji><ngx-emoji emoji="yellow_heart" id="dibu"></ngx-emoji>
       <ngx-emoji emoji="blue_heart" id="dibu"></ngx-emoji>, de esas que van a la cancha. Me gusta mucho <b>leer</b>, aunque trato de esquivar los 
       libros digitales, prefiero palpar el libro real <ngx-emoji emoji="books" id="dibu"></ngx-emoji>. 
       Voy al gim todos los d&iacute;as para hacer <b>spinning</b> <ngx-emoji emoji="woman-biking" id="dibu"></ngx-emoji>, a veces tambi&eacute;n 
       tomo clases de <b>zumba</b> y otras de <b>bachata</b> <ngx-emoji emoji="dancer" id="dibu"></ngx-emoji>. Mis hobbies son las <b>manualidades en porcelana 
       fr&iacute;a y el origami.</b>
       Aprend&iacute; a programar <ngx-emoji emoji="computer" id="dibu"></ngx-emoji> metiendo los dedos, despu&eacute;s hice algunos cursos a 
       trav&eacute;s de la oficina. Actualmente, vivo <ngx-emoji emoji="house" id="dibu"></ngx-emoji> en <b>Moreno (GBA Oeste)</b> con mi hijo 
       <ngx-emoji emoji="prince" id="dibu"></ngx-emoji>, que se llama <b>Tobias</b>, y mi hija de cuatro patas <ngx-emoji emoji="dog" id="dibu"></ngx-emoji> 
       que se llama <b>Kiwa.</b>
    </p>
</div>
