<div class="resumen" *ngFor="let persona of persona">
    <div class="encabezado" id="acercaDe">
        <h1 class="nombre">{{persona.nombrePersona}} {{persona.apellidoPersona}}</h1>   
        <div class="editar">
            <img src="{{editSRC}}" alt="{{editALT}}" (click)="abrirMostrarPersona()" *ngIf="isLogged" />
        </div>
    </div>
    <h4>{{persona.subTitulo}}</h4>
    <hr>
    <p [innerHTML]="persona.acercaPersona"></p>
</div>

<!-- componente para editar acerca de -->
<app-editar-persona id="verPersona"></app-editar-persona>
