<div class="logos">
    <img src="{{logosURL}}" alt="logos organismoos" usemap="#image-map" />
      <map name="image-map">
        <area target="_blank" rel="noopener" alt="Argentina Programa" title="Argentina Programa" href="{{apURL}}" coords="126,69,1,4" shape="rect">
        <area target="_blank" rel="noopener" alt="INTI" title="INTI" href="{{intiURL}}" coords="127,4,235,69" shape="rect">
        <area target="_blank" rel="noopener" alt="Min. de Economia" title="Min. de Economia" href="{{meconURL}}" coords="235,4,359,69" shape="rect">
      </map>
</div>
