<div class="laboral">
<p>
    <!-- <a href="{{cgnURL}}" target="_blank" rel="noopener">
      <img src="{{cgnSRC}}" alt="MEcon" />
    </a> <i>(2018 a la actualidad)</i>
</p>
    <ul>
      <li>Responsable del an&aacute;lisis de la Deuda Exigible del Estado Nacional.</li>
      <li>Co-responsable del an&aacute;lisis de la Deuda P&uacute;blica del Estado Nacional.</li>
      <li>Referente por la Contadur&iacute;a General de la Naci&oacute;n para la definici&oacute;n de DATAMARTS.</li>
      <li>Referente por la Contadur&iacute;a General de la Naci&oacute;n en las definiciones conceptuales de los nuevos desarrollos 
          inform&aacute;ticos relacionados con el m&oacute;dulo de retenciones.</li>
    </ul>

 <br />

<p>
    <a href="{{migraURL}}" target="_blank" rel="noopener">
      <img src="{{migraSRC}}" alt="Migraciones" />
    </a> <i>(2016 - 2018)</i>
</p>
    <ul>
      <li>Responsable del &aacute;rea de Certificaciones.</li>
      <li>Asistente en el registro de datos biom&eacute;tricos.</li>
      <li>Tramitaci&oacute;n de visado.</li>
      <li>Tramitaci&oacute;n de residencias y DNI para extranjeros.</li>
    </ul>

<br />

<p>
    <a href="{{cgnURL}}" target="_blank" rel="noopener">
       <img src="{{cgnSRC}}" alt="MEcon" />
    </a> <i>(1993 - 2016)</i>
</p>
    <ul>
       <li>Dise&#241;o, desarrollo y mantenimiento del sistema de Minutas Contables.</li>
       <li>Desarrollo de procesos de automatizaci&oacute;n para agilizar las tareas del sector.</li>
       <li>An&aacute;lisis de Cuentas Corrientes a Pagar y Cuentas de Resultado Negativo.</li>
       <li>Data entry.</li>
       <li>Atenci&oacute;n al p&uacute;blico.</li>
    </ul>  -->
<table class="table">
  <tbody>
    <tr *ngFor="let Laboral of lab">
      <!-- <td>
      <p>
        <a href="{{Laboral.urlEmpresa}}" target="_blank" rel="noopener">
          <img src="{{Laboral.url_imgLab}}" alt="" />
        </a> <i>"{{Laboral.periodoEmpresa}}"</i>
      </p>
        "{{Laboral.descEmpresa}}"
      </td> -->
      <td>{{Laboral.url_imgLab}}</td>
      <td>{{Laboral.nombreEmpresa}}</td>
      <td>{{Laboral.periodoEmpresa}}</td>
      <td>{{Laboral.descEmpresa}}</td>
      <td>Editar</td>
      <td>Borrar</td>
    </tr>
  </tbody>
</table>

</div>
